body {
  font-family: 'Playfair Display', serif;
  text-align: center;
  background: url("/resources/images/banner-veg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  background-color: white;
  color: #000000;
}

.filter {
  background-color: rgba(255, 255, 255, 0.6);
  color: #E5781D;
  border: 2px solid #E5781D;
  height: 40px;
}

.input-md {
  background-color: white;
  color: #E5781D;
  border: 2px solid #000000;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.selected {
  color: grey;
}

.btn {
  background: rgba(255, 255, 255, 0.6);
  color: #E5781D;
  border: 2px solid #000000;
  height: 40px;
}

.well {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 5px;
  min-height: 180px;
}
